.navbar {
    z-index: 5;
    position: fixed;
    top : 0;
    width: 100%;
    background-color: white;
    text-transform: uppercase;
    border-bottom: solid 1px rgb(211, 203, 203);
}

.navbar>ul {
    max-width: 1000px;
    margin: auto;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
}

.navbar>ul>li {
    list-style-type: none;
    letter-spacing: 1.5px;
}



.navbar>ul>li :hover {
    text-decoration: none;
    list-style-type: none;
    color: black;
}