.main {
    margin: 0px;
    width: 100%;
    height: 100vh;

}
.style {
    overflow : hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.bannerContainer {
    padding: 0px;
    margin: 0px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.bannerImage {
    padding: 0px;
    margin: 0px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
}

.bannerText {
    position : absolute;
    top : 0;
    z-index: 2;
    height: 70vh;
    width: 100%;
    top: 30%;
}

.bannerTextCentered {
    font-size: 60px;
    color: white;
    height: 70vh;
    text-align: center;
    line-height: 0.9!important;
}

.singlePageTitle {
    font-size: 54px!important;
    padding-left: 0px;
    color: white;
}

.smallBannerText {
    font-size: 36px;
    line-height: 1.3;
    color: white;
    display: flex!important;
    align-items: center;
    justify-content: center!important;
}

@media (max-width: 1050px) {

    .singlePageTitle {
        font-size: 40px!important;
    }

}

@media (max-width: 768px) {

.smallBannerForm {
    display: none;
}
    
.bannerText {
    position : absolute;
    top : 0;
    z-index: 2;
    top: 25%;
    width: 50%;
}

.bannerTextCentered {
    font-size: 48px;
    color: white;
    height: 70vh;
    text-align: center;
    line-height: 1.2!important;
}

.singlePageTitle {
    font-size: 38px!important;
    text-align: center;
}

.smallBannerText {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 300;
    text-align: center;
}

}
